<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Dashboard</h1>

  </div>

  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Amount invested</h5>
          <h1
            class="card-title text-center bg-info text-white p-4"
          >{{transactionSum.amount}}</h1>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Amount bitcoins</h5>
          <h1
            class="card-title text-center bg-success text-white p-4"
          >{{transactionSum.qty}}</h1>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Current value bitcoin</h5>
          <h1
            class="card-title text-center bg-warning text-white p-4"
          >{{bitcoinBuy}}</h1>
        </div>
      </div>
    </div>
  </div>

  <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

</main>
<script>
  let transactions = decodeURIComponent("{{{transactions}}}"); let
  transactionsCompare = decodeURIComponent("{{{transactionsCompare}}}");
</script>