<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Transactions</h1>

  </div>
  <div class="row">
    <div class="col">

      {{#if message}}
        <div class="alert alert-info">{{message}}</div>
      {{/if}}
      <div class="row">
        <div class="col-6">
          <a href="/transactions/add" class="btn btn-primary text-right">Add
            transaction</a>
        </div>
        <div class="col-6 text-end">
          <span class="badge bg-success">Current price bitcoin:
            {{bitcoinBuy}}</span>
        </div>
      </div>
      <hr />
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Created</th>
            <th scope="col">Value</th>
            <th scope="col">Qty</th>
            <th scope="col">Price Bitcoin</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each transactions}}
            <tr>
              <th scope="row">{{id}}</th>
              <td>{{created_at}}</td>
              <td>{{amount}}</td>
              <td>{{qty}}</td>
              <td>
                {{priceBitcoin}}
                {{#if compare}}
                  <span data-feather="arrow-up" color="green"></span>
                {{else}}
                  <span data-feather="arrow-down" color="red"></span>
                {{/if}}
              </td>
              <td>
                <a
                  href="/transactions/edit?id={{id}}"
                  class="btn btn-info"
                >Edit</a>
                <a
                  href="/transactions/del?id={{id}}"
                  onclick="return confirm('Confirm ?'); return false;"
                  class="btn btn-danger"
                >Del</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</main>